openapi: 3.0.3
info:
  title: People Data Labs Autocomplete API
  description: People Data Labs (PDL) provides APIs for enriching and building people and company profiles at scale. The API offers person enrichment, person search, person identification, company enrichment, company search, IP enrichment, and job posting search across a dataset of professional profiles and organizations.
  version: v5
  contact:
    name: People Data Labs Support
    url: https://docs.peopledatalabs.com/docs/support
  license:
    name: People Data Labs Terms of Service
    url: https://www.peopledatalabs.com/terms-of-service
servers:
- url: https://api.peopledatalabs.com/v5
  description: People Data Labs production API
security:
- ApiKeyAuth: []
tags:
- name: Autocomplete
  description: Autocomplete suggestions for fields like skills and titles.
paths:
  /autocomplete:
    get:
      tags:
      - Autocomplete
      summary: Autocomplete suggestions
      description: Returns autocomplete suggestions for fields like skill, title, company, and location.
      parameters:
      - name: field
        in: query
        required: true
        schema:
          type: string
          enum:
          - skill
          - title
          - company
          - school
          - location
          - country
          - region
          - role
          - sub_role
          - industry
      - name: text
        in: query
        schema:
          type: string
      - name: size
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of autocomplete suggestions.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
